.page-active .landing-page{
  background: url("./sixteen-miles-out-ScvYtpYzgFI-unsplash.jpg")  no-repeat left bottom;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  visibility: visible;
  opacity: 1;
}
/* .landing-page{
  background: url("./sixteen-miles-out-ScvYtpYzgFI-unsplash.jpg")  no-repeat left bottom;
} */

/*page active reading assistant, comp container*/
.page-active .cols-container{
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-gap: 20px; 
  padding: 48px;
}


.page-active .text-panel-div{
  padding: 48px;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: -3px 2px 5px purple;
  max-width: 580px;
  min-width: 500px;
}

.page-active .title-div h1{
  font-size: 38px;
  font-weight: 700;
  line-height: 54px;
}

.page-active .subtitle-div{
  display: flex;
  -webkit-box-align: center;
  flex-wrap: wrap;
  gap: 2.6em;
}
.page-active > .min-status-col{
  visibility: hidden;
  opacity: 0;
}
/* ////// */
div:not(.page-active) > .landing-page > .cols-container{
  visibility: hidden;
  opacity: 0;
  display: none;
}

.min-status-col{
  display: none;
  width: -10px; /*boxes*/
  opacity: 0;
  transition: all 0.3s ease-in-out; /* 添加过渡效果 */
}

.min-status-col .hp-ctn-howItWorks{
  
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-style-square{
  margin-right:11rem;
}


div:not(.page-active) > .landing-page > .min-status-col {
  display: grid;
  opacity: 1;
}
div:not(.page-active) > .landing-page > .min-status-col > div{
  display: flex;
  flex-direction: column;
  
}
.min-status-col .recents-box {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 10px;
  width: 100%;
  margin-top: 20px;
  /* margin-left: 1em; */

}
.min-status-col .recents-box > div{
  margin-left:3px;
  width: 105px;
  background-color: gray;
  border: 1px solid violet;
  height: 148.5px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 2px;
}
.min-status-col .recents-box > div:hover{
  box-shadow: 0px 1px 3px 3px rgb(215, 87, 215);
  background-color: #fcfcfc;
}


.delete-button {
  background-color: #ffff;
  margin-left: 40px;
  cursor: pointer;
  border: none;
  padding: 5px 10px;
  border-radius: 20px;
  margin-top: 102px;
  transition: background-color 0.4s;
}

.delete-button:hover{
  transition: 0.4s;
  background-color: #fddd3a;
}

.trash-icon{
  font-size: 3rem;
  margin: auto;
}
/* 
.confirm-deletion-button{
  background-color: #fff;
  border: none;
  width: -webkit-fill-available;
  transition: background-color 0.4s, color 0.4s;

}

.confirm-deletion-button:hover{
  background-color: #22249b;
  color: #fcfcfc;

} */
.recent-card > img{
  position:static;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.recent-card > div{
  height: 100%;
  width: 100%;
  opacity: 0;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}
.recent-card > div > div{  
  transition: all 0.2s ease-in-out;

}
.recent-card > div > :first-child{
  width: 100%;
  height: 66.6%;
}
.recent-card > div > :last-child{
  /* width: 100%; */
  height: 33.3%;
  align-items: center;
  overflow: hidden;
}

.recent-card > div > div:hover{
  background-color: #fcfcfc;
  box-shadow: 0px 0px 7px 1px rgba(128, 32, 128, 0.85);
}
.recent-card > div > div > p{
  width: 100%;
  display: block;
  font-stretch: expanded;
  padding: 10px;
  font-size: 20px;
  word-wrap: break-word;
  overflow: hidden;
  height: 100%;
}
.recent-card > div:hover{
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.5);
}
.recent-box-del-btn{
  display: flex;
  overflow-x: hidden;
  width: 200%;
}

.confirm-pop > div{
  left: -50%!important;
}
.recent-box-del-btn > div > span{
  width: 100%;
  margin: auto;
  color: red;
  font-size: 12px;
}

.recent-box-del-btn > div{
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  transition: all 0.2s ease-in-out;
  left: 0px;
}
.landing-page.blurry > *:not(.loader-container) {
  filter: blur(5px);
  pointer-events: none;
}

.loader {
  font-size: 24px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #060644;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: brightness(200%);
}

.loader span {
  animation: animate 4s linear infinite;
}

.loader:before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  animation: glow 2s infinite;
}

.loader span:nth-child(1) {
  animation-delay: 0s;
}

.loader span:nth-child(2) {
  animation-delay: 0.1s;
}

.loader span:nth-child(3) {
  animation-delay: 0.15s;
}

.loader span:nth-child(4) {
  animation-delay: 0.2s;
}

.loader span:nth-child(5) {
  animation-delay: 0.25s;
}

.loader span:nth-child(6) {
  animation-delay: 0.3s;
}

.loader span:nth-child(7) {
  animation-delay: 0.35s;
}

.loader span:nth-child(8) {
  animation-delay: 0.4s;
}

.loader span:nth-child(9) {
  animation-delay: 0.45s;
}

.loader span:nth-child(10) {
  animation-delay: 0.5s;
}

.loader span:nth-child(11) {
  animation-delay: 0.55s;
}

.loader span:nth-child(12) {
  animation-delay: 0.6s;
}

@keyframes animate {
  0%,100% {
    color: #fff;
    filter: blur(2px);
    text-shadow: 0 0 10px #060644,
                 0 0 20px #060644,
                 0 0 40px #060644,
                 0 0 80px #060644,
                 0 0 120px #060644,
                 0 0 200px #060644,
                 0 0 250px #060644,
                 0 0 300px #060644,
                 0 0 350px #060644,
                 0 0 400px #060644,
                 0 0 450px #060644,
                 0 0 500px #060644;
  }
  25%,75% {
    color: #000;
    filter: blur(0px);
    text-shadow: none;
  }
  
}

@keyframes glow {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


.userguide-icon{
  transition: all 0.3s ease-in-out;
  border: violet 1px solid;
  position: fixed;
  right: 20px;
  bottom: 10px;
  padding: 5px;
  background-color: white;
  cursor: pointer;
}
.userguide-icon:hover{
  box-shadow: 3px 2px 5px purple;
}

