
.page-active .landing-page{

  background: url("./sixteen-miles-out-ScvYtpYzgFI-unsplash.jpg")  no-repeat left bottom;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  visibility: visible;
  opacity: 1;
}

.page-active .cols-container{
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns with equal width */
  grid-gap: 20px; /* Gap between grid items */
  padding: 48px;
}

.page-active .text-panel-div{
  padding: 48px;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  border-radius: 10px;
}

.page-active .title-div h1{
  font-size: 38px;
  font-weight: 700;
  line-height: 54px;
}

.page-active .subtitle-div{
  display: flex;
  -webkit-box-align: center;
  flex-wrap: wrap;
  gap: 2.6em;
}
.page-active > .min-status-col{
  visibility: hidden;
  opacity: 0;
}
/* ////// */
div:not(.page-active) > .landing-page > .cols-container{
  visibility: hidden;
  opacity: 0;
  display: none;
}

.min-status-col{
  display: none;
  width: 80px;
  opacity: 0;
  transition: all 0.3s ease-in-out; /* 添加过渡效果 */

}

.min-status-col .hp-ctn-howItWorks{
  
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}
div:not(.page-active) > .landing-page > .min-status-col {
  display: grid;
  opacity: 1;
}
div:not(.page-active) > .landing-page > .min-status-col > div{
  display: flex;
  flex-direction: column;
}
.min-status-col .recents-box {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2em;
  width: 100%;
  margin-top: 20px;
}
.min-status-col .recents-box > div{
  margin: auto;
  width: calc(100% - 20px);
  background-color: gray;
  border: 1px solid violet;
  height: 5em;
  text-align: center;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 2px;
}
.min-status-col .recents-box > div:hover{
  box-shadow: 0px 1px 3px 3px purple;
}
