.page-active > .assistance-page {
  background-color: rgb(255, 255, 255);
  height: 100%;
  display: flex;
  align-items: stretch;
}

.assistance-page {
  position: relative;
  overflow: auto;
  height: 100%; /* Or any fixed height based on your design */
  flex-grow: 1;
  display: flex;
}

.cols-container {
  position: relative;
  display: flex;
  flex-grow: 1;
  overflow-x: auto;
  min-width: 100%; /* Ensure the container takes the full width */
}

.reading-panel {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border: solid 1px #7d9cba;
  border-radius: 5px;
  padding: 10px;

}
.reading-function-panel{
  display: grid;
  grid-template-columns: 25px 50px 50px 1fr 1fr;
  align-items: center;
  text-align: center;
}
    
.page-active > .assistance-page > .cols-container > div > .text-reading-panel{
  overflow-y: scroll;
  height: 100%;
  flex-grow: 1; /* Allow the last div to grow and take up remaining height */
  overflow-y: scroll;
}

.text-reading-panel {
  flex-grow: 1;
  overflow: auto;
  overflow-x: auto;
}
/* 
.popup-detail {
  overflow-x: auto;
} */

