.page-active > .assistance-page {
  background-color: rgb(255, 255, 255);
  height: 100%;
  display: flex;
  align-items: stretch;
}

.assistance-page {
  position: relative;
  overflow: auto;
  height: 100%; /* Or any fixed height based on your design */
  flex-grow: 1;
  display: flex;

}

.cols-container {
  position: relative;
  display: flex;
  flex-grow: 1;
  overflow-x: auto;
  min-width: 100%; /* Ensure the container takes the full width */
}

.reading-panel {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  overflow-x: auto;
}

.text-reading-panel {
  flex-grow: 1;
  overflow: auto;
  overflow-x: auto;
  border: solid 1px #7d9cba;
  border-radius: 5px;
  padding: 10px;

}

.popup-detail {
  overflow-x: auto;
}

.Assistancepage.night-mode {
  background-color: black;
  color: white;
}

/* Rest of the parent page styles */


