
.page-active > .assistance-page{
  background-color: rgb(255, 255, 255);
  height: 100%;
}

.page-active > .assistance-page > .cols-container{
  height: 100%;
}

.reading-panel{
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border: solid 1px #7d9cba;
  border-radius: 5px;
  padding: 10px;

}
.reading-function-panel{
  display: grid;
  grid-template-columns: 25px 50px 50px 1fr 1fr;
  align-items: center;
  text-align: center;
}
    
.page-active > .assistance-page > .cols-container > div > .text-reading-panel{
  overflow-y: scroll;
  height: 100%;
  flex-grow: 1; /* Allow the last div to grow and take up remaining height */
  overflow-y: scroll;
}

.page-active > .assistance-page > .cols-container > .assistance-history-panel{
  overflow-y: scroll;
  height: 100%;
}
.reading-function-panel > .info-icon {
  margin-left: 4px;
  font-size: medium;
  margin-bottom: 7px;
  width: 100%;
  height: 50%;
  transition: all 0.2s ease-in-out; /* 添加过渡效果 */
  cursor: pointer;
}
.reading-function-panel > .info-icon:hover {
  height: 60%;
}
