.reading-comprehension-container {
  border: solid 1px #7d9cba;
  border-radius: 5px;
  padding: 10px;
  transition: box-shadow .3s;
}
.reading-comprehension-container:hover{
  box-shadow: 0 0 11px rgba(33,33,33,.3); 
}
.reading-comprehension-input{
  transition: box-shadow .3s;
}
.reading-comprehension-input:hover{
  box-shadow: 0 0 11px rgba(33,33,33,.3); 

}

.form-check{
  display: contents;
}
input[type="radio"] {
  position: initial !important;
  opacity: 1 !important;
  vertical-align: bottom;
}
.comprehension-input-button > input{
  width: 80%;
}
.comprehension-input-button > button{
  width: 18%;
}
.comprehensionp-panel{
  height: 100%;
  display: flex;
  flex-direction: column;
}
.history-in-comprehension-page-div{
  flex-grow: 1; /* Allow the last div to grow and take up remaining height */
  height: 100%;
}
.history-in-comprehension-page-div{
  display: flex;
  height: 100%;
  overflow-y: auto;
  flex-direction: column;
}
.history-in-comprehension-page-div > div{
  margin-top: 10px;
  border-bottom: 1px solid rgba(13,110,253,.25);
}
.comprehension-input-button >.btn-style:hover{
  box-shadow: 5px 2px 5px purple;
}

.comprehension-panel, .comprehension-panel > div {
  height: 100%;
  overflow-y: hidden;
}

.history-card{
  padding: 2em;
  transition: box-shadow .3s;
  border-radius:3px;
  border: 1px solid #ccc;
  background: #fff;
}
.history-card:hover{
  box-shadow: 0 0 11px rgba(33,33,33,.3); 

}

.history-card li{
  text-decoration: none;
  list-style: none;

}

.question{

}

.question-header{

   color: #2096f3;
    align-items: center;
    background-color: #050643;
    border-radius: 50%;
    display: inline-grid;
    height: 2rem;
    font-weight: bolder;
    font-size: small;

    justify-content: center;
    margin-right: 1px;
    object-fit: contain;
    width: 2rem;
  }

.user-question-text{
  color: rgb(41, 49, 25);
  font-size: 1.5rem;
  font-weight: 550;
  margin-left: 0.7rem;
  line-height: 4rem;
}

.answer-header{
  color: #6c757db0;
  font-style: italic;
  font-size: 1.4rem;
  font-weight: 600;
}

.response-text{
  color: rgb(0 36 90 / 86%);
  font-size: initial;
  margin-left: 0.2rem;

}

.response-type{
  font-weight: 600;
}

.date-text{
  font-weight: 600;
text-decoration: underline;
}

.history-card-tags{
  float: right;
  margin-bottom: 1rem;
}

/*loading indicator*/
.lds {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  transform: translate(30rem, 10rem);
}
.lds div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #050643;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
  
}
.lds div:nth-child(1) {
  left: 8px;
  animation: lds1 0.6s infinite;
}
.lds div:nth-child(2) {
  left: 8px;
  animation: lds2 0.6s infinite;
}
.lds div:nth-child(3) {
  left: 32px;
  animation: lds2 0.6s infinite;
}
.lds div:nth-child(4) {
  left: 56px;
  animation: lds3 0.6s infinite;
}
@keyframes lds1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
