.page-active > .assistance-page {
  background-color: rgb(255, 255, 255);
  height: 100%;
  display: flex;
  align-items: stretch;
}

.page-active > .assistance-page > .cols-container {
  height: 100%;
  display: flex;
}

.reading-panel {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.text-reading-panel {
  flex-grow: 1;
  overflow-y: auto;
}

.assistance-page {
  flex-grow: 1;
  position: relative;
}

.cols-container {
  position: relative;
}

.comprehension-panel {
  flex-grow: 1;
  overflow: hidden;
}

