html, body, #root, .App{
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  overscroll-behavior: none;
}
main{
  /* minus nav bar height */
  height: calc(100% - 73px);
  padding: 0;
  margin: 0;
}
/* above for base element */
.main-frame-div {
 height: 100%;
 width: 100%;
}
.landing-div {
  height: 97%;
  opacity : 1;
  transition: height 0.5s ease-in-out; /* 添加过渡效果 */
  overflow: hidden;
}
.landing-div.hidden {
  height: 0%;
}
.reading-div {
  height: 97%;
  opacity : 1;
  transition: height 0.5s ease-in-out; /* 添加过渡效果 */
  overflow: hidden;
  display: flex;
}
.reading-div.hidden {
  height: 0%;
}
.horizontal-splitter {
  background-color: gray;
  height: 3%;
  width: 100%;
  position: relative;
  bottom: 0px;
  transition: background-color 0.2s ease-in-out; /* 添加过渡效果 */
  cursor: pointer;
  box-shadow: 0px -5px 5px lightgray;
  text-align: center;
  color: gray;
}
.horizontal-splitter p{
  line-height: 100%;
}
.horizontal-splitter:hover{
  background-color: gold;
  box-shadow: 0px -10px 10px lightgray;
}
.vertical-splitter {
  background-color: gray;
  height: 100%;
  width: 15px;
  line-height: 100%;
  transition: background-color 0.2s ease-in-out; /* 添加过渡效果 */
  cursor: pointer;
  box-shadow: 6px 0px 6px lightgray, -6px 0px 6px lightgray;
  display: flex;
  align-items: center;
  text-align: center;
  color: gray;
}
.vertical-splitter p{
  width: 100%;
}
.vertical-splitter:hover{
  background-color: gold;
}
.reading-comprehenstion-div{
  /* minus vertical splitter width */
  width: calc(100% - 15px);
  overflow: hidden;
  transition: width 0.5s ease-in-out; /* 添加过渡效果 */
}
.reading-comprehenstion-div.hidden{
  width: 0%;
}
.reading-assistance-div{
  /* minus vertical splitter width */
  width: calc(100% - 15px);
  transition: width 0.5s ease-in-out; /* 添加过渡效果 */
  overflow: hidden;
}
.reading-assistance-div.hidden{
  width: 0%;
}