:root {
  --landing-page-min-width: 140px;
  --comprehenion-page-min-width: 0px;
  --assistance-page-min-width: 0px;
}

.btn-style-square{
  height: 65px;
  width: 105px;
  margin-left:3px;
 
}

.btn-style-lg{
  border: 1px solid violet;
  background-color: #060644;
  color: white !important;
  font-size: 22px;
  height: 2em;
  width: 10em;
}
.btn-style-lg:active{
  background-color: #060644 !important;
  color: white !important;
}
.btn-style-lg:hover{
  color: lightcyan;
  background-color: #060644;
  box-shadow: -3px 2px 5px purple;
  border-color: violet;

}

.btn-style{
  border: 1px solid violet;
  background-color: #060644;
  color: white !important;
  margin-bottom:1px;

}
.btn-style:active{
  background-color: #060644 !important;
  color: white !important;
}
.btn-style:hover{
  color: lightcyan;
  background-color: #060644;
  box-shadow: -5px 2px 5px purple;
  border-color: violet;
}
/* /////// */
@media screen and (min-width: 760px) {
  .main-containter {
    background-color: #060644;
  }
  .main-containter{
    height: 100%;
    display: flex;
    
  }
  .main-containter > div{
    transition: all 0.2s ease-in-out; /* 添加过渡效果 */
    overflow: hidden;
  }
  .landing-frame.page-active{
    width: 100%;
  }
  .page-active{
    width: calc(100% - var(--landing-page-min-width));
  }

  .landing-frame:not(.page-active){
    width: var(--landing-page-min-width);
  }
  .landing-page, .landing-page > .min-status-col {
    height: 100%;
  }
  .assistance-frame:not(.page-active){
    width: var(--assistance-page-min-width);
  }

  .comprehension-frame:not(.page-active){
    width: var(--comprehenion-page-min-width);
  }
}

@media screen and (max-width: 760px) {
  .main-containter {
    background-color: purple;
  }

  .main-containter{
    height: 100%;
    display: flex;
  }

  .landing-frame{
    display: none;
  }

  .assistance-frame{
    display: none;
  }

  .comprehension-frame{
    display: block;
    /* position: absolute; */
    font-size: 28px;
    width: 61.8%;
    color: violet;
    margin: auto;
  }
}
