.bigcontainer{
  position: relative;
  overflow: auto;
}
.bigcontainer > div > span{
  font-size:18px;
  margin-bottom: 15px;
}

/* ///////////////// */
.bigcontainer > .ra-text-size-1 > span{
  font-size:12px;
  margin-bottom: 12px;
}
.bigcontainer > .ra-text-size-2 > span{
  font-size:14px;
}
.bigcontainer > .ra-text-size-3 > span{
  font-size:16px;
}
.bigcontainer > .ra-text-size-4 > span{
  font-size:18px;
}
.bigcontainer > .ra-text-size-5 > span{
  font-size:20px;
}
.bigcontainer > .ra-text-size-6 > span{
  font-size:22px;
}
.bigcontainer > .ra-text-size-7 > span{
  font-size:24px;
}
.bigcontainer > .ra-text-size-8 > span{
  font-size:26px;
  margin-bottom: 20px;
}
.bigcontainer > .ra-text-size-9 > span{
  font-size:28px;
  margin-bottom: 20px;

}
/* ///////////////// */

.bigcontainer > div {
  display: grid;
}
.bigcontainer > div > canvas {
  margin: auto;
}
.bigcontainer > div > .separator {
  border-bottom: 1px solid black;
  font-size: larger;
  margin-top: 3rem;
  text-transform: capitalize;
}
.text-reading-panel > .function_panel {
  padding: 10px;
  position: absolute;
  top: 68px;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  background-color: white;
  box-shadow: 0px 1px 3px 3px rgb(215, 87, 215);
  border-radius: 3px;
  
  /* background-color: rgba(238, 130, 238, 0.8) ; */
}
.text-reading-panel > .function_panel > div {
  padding: 5px;
  font-size: 18px;
  min-width: 38px;
  text-align: center;
  display: flex;
  align-items: center;
}
.text-reading-panel > .function_panel > div > svg{
  transition: all 0.3 ease-in-out;
  cursor: pointer;
}
.text-reading-panel > .function_panel > div > svg:hover{
  font-size: 24px;
  border-bottom: 2px dotted purple;
}
.text-reading-panel > .function_panel > div > label{
  display: grid;
  grid-template-columns: auto auto auto;
  text-transform: capitalize;
  margin: 0px;
  user-select: none;
}
.text-reading-panel > .function_panel > div > label > input{
  margin: 0 8px ;
}
.text-reading-panel > .function_panel > div > label > div{
  width: 68px;
  display: flex;
  align-items: center;
  
}
.text-reading-panel > .function_panel > div > label > div > span{
  margin: auto;

}
.text-reading-panel > .function_panel:hover{
  opacity: 1;
}
.ra-popup-menu-box{
  padding: 0px;
  position: fixed;
  display: grid;
  gap: 5px;
  grid-auto-flow: column;
  width: 0px;
  height: 0px;
  z-index: 500;
  overflow: hidden;
  transition: width 0.2s, height 0.2s;
}
.ra-popup-menu-box.popup-on-call{
  width: 320px;
  height: 78px;
  padding: 10px;
}
.popup-on-call.ra-popup-menu-box > button:hover{
  box-shadow: 0px 1px 3px 3px rgb(215, 87, 215);
}
