/* 
body {
	background: linear-gradient(-45deg, #060644, #060644, #23a6d5, #ffffff);
	background-size: 400% 400%;
	animation: gradient 30s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
} */




@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Roboto+Condensed");
*,
::after,
::before {
	box-sizing: border-box;
}

@media (max-width: 768px) {
  .container {
    width: 90%; /* Adjust the width as per your design */
  }

  .reading-level-radio {
    transform: translate(0, -19rem); /* Adjust the translation as per your design */
  }

  .rc-form-box{
    width: 10rem;
  }
}
/* html,
body {
	margin: 0;
	padding: 0;
	height: 100vh;
} */
/* body {
	webkit-text-size-adjust: 100%;
	font-variant-ligatures: none;
	-webkit-font-variant-ligatures: none;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
	-webkit-font-feature-settings: "kern" on, "liga" on, "calt" on, "onum", "pnum";
	-webkit-font-smoothing: subpixel-antialiased;
	text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
	background: #fff;
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	margin: 0;
	font-weight: 400;
	padding: 0;
} */

.book-half {
  margin-top: 2rem;
  font-size: xx-large;
}


.nav-title {
  margin-top: 6rem;
}
a {
	color: #1e85c9;
}
.vertical-nav {
  position: fixed; /* Change position to fixed */
  top: 69px; /* Adjust the top position as per your design */
  left: 90px; /* Adjust the left position as per your design */
  z-index: 1;
  background: white;
  box-shadow: 0 0 40px #00000021;
  display: grid;
  grid-template-rows: auto 1fr auto;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  width: 30rem;

  transform: translate(-30rem, -7rem);
  height: 38.3rem;
}

.vertical-nav ul {
  /* ...existing styles... */
  overflow-y: auto; /* Add overflow-y property to enable scrolling */
}

.vertical-nav li {
  /* ...existing styles... */
  display: flex;
  align-items: center;
}


.container {
  position: relative;
}


.menu-header {
	font-family: "Roboto Condensed", sans-serif;
	color: #929292;
	font-size: 13px;
	text-align: left !important;
	padding: 12px 20px 5px 20px;
	font-weight: 600;
	border-bottom: none !important;
}

.log-out a {
	background: #1e85c9;
	color: white;
}
.log-out a:hover {
	color: #1e85c9;
	background: white;
}

@-webkit-keyframes slide-down {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-5%);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
	0{
		opacity:0;
		-webkit-transform: translateY(0);
	}
}
@-moz-keyframes slide-down {
	0% {
		opacity: 0;
		-moz-transform: translateY(-5%);
	}
	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

.content {
	padding: 40px;
  padding-left: 90px;
	color: #464646;
	width:1170px;
	margin:0 auto;
}
h1,
h2 {
	color:#343535;
	font-weight: 400;
}
p,
.content li {
	color: #949494;
	line-height: 29px;
	font-size: 16px;
	font-weight: 300;
}
.header-image {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.mt-0{
	margin-top:0;
}

.mb-0{
	margin-bottom:0;
}

/* Zui table (modified) - https://jsfiddle.net/zinoui/dB93J/ */
.zui-table {
	border: solid 1px #ddeeee;
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	box-shadow: 0 0 40px #00000021;
	margin: 50px 0;
}
.zui-table thead th {
	background-color: #fff;
	border: solid 1px #dee;
	color: #343535;
	border: solid 1px #f5f9f9;
	padding: 20px;

	text-align: left;
}
.zui-table tbody td {
	border: solid 1px #edf1f1;
	color: #949494;
	font-size:16px;
	padding: 20px;
}
footer{
	padding:20px 0;
	text-align:center;
}
footer p{
	color:gray;
	font-size:12px;
}
/**/
.content {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90rem;
  animation: fadeIn 5s;
}

.rc-content {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -16%);
  width: 100rem;
  height: -webkit-fill-available;
  background-color: rgb(6,6,68);
}

  /*                       
            {
              historyData.length !== 0 ? (historyData.map((history) => {
                return (
                  <li key={history.textComprehension.q}>{history.textComprehension.q}</li>

                )
              }))
}*/

.history-column-text {
  display: grid;
  /* justify-items: start; */
  margin-bottom: 32rem;
}
  
  .rc-text {

    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    font-weight: 500;
    margin-top: 2rem;
    margin-left: 8rem;
    color: whitesmoke;
    text-align: center;
    width: fit-content;

  }
  
  .rc-form-box {
    transform: translate(6rem, -12rem);
    display: flex;
    align-items: flex-start;
    width: 73rem;
  }
  
  .rc-form-box .mb-3 {
    margin-right: 1em;
    flex: 1;
  }
  
  .rc-submit-button {
    padding: 0.5em 1em;
    background-color: rgb(6, 6, 68);
    color: whitesmoke;
    text-decoration: underline;
    line-height: normal;
    text-underline-position: under;
  }
  
  .rc-submit-button:hover {
    color: whitesmoke;
 
  }
  .reading-level-radio {
    position: absolute;
    transform: translate(8rem, -19rem);
    /* opacity: 0.2; */
    transition: opacity 0.2s ease;
  }
  
  .reading-level-radio:hover {
    opacity: 1;
    color: rgb(32, 32, 121);
  }
  
  .reading-level-text {

    font-weight: 500;
  }

  .group {
    display: flex;
    align-items: center;
    margin-bottom: 2em;
  }
  
  input[type="checkbox"],
  input[type="radio"] {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  
  label {
    position: relative;
    margin-right: 1em;
    padding-left: 2em;
    padding-right: 1em;
    line-height: 2;
    cursor: pointer;
  }
  
  label::before {
    box-sizing: border-box;
    content: " ";
    position: absolute;
    top: 0.3em;
    left: 0;
    display: block;
    width: 1.4em;
    height: 1.4em;
    border: 2px solid rgb(236, 230, 230);
    border-radius: 0.25em;
    z-index: -1;
  }
  
  input[type="radio"] + label::before {
    border-radius: 1em;
  }
  
  /* Checked */
  input[type="checkbox"]:checked + label,
  input[type="radio"]:checked + label {
    padding-left: 1em;
    /* color: $wisteria; */
  }
  
  input[type="checkbox"]:checked + label::before,
  input[type="radio"]:checked + label::before {
    top: 0;
    width: 100%;
    height: 2em;
    background: white;
  }
  
  /* Transition */
  label,
  label::before {
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
  }
  
  .lds-ellipsis {
    transform: translate(43rem, 13rem);
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    transform: translate(-50%, -20%);
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #b4b4b5;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }

